.btn {
  width: fit-content;
  width: -moz-max-content;
}

.thumbnail {
  width: 130px;
  height: 130px;
}

@-moz-document url-prefix() {
  body {
    scroll-behavior: auto;
  }
}

@media (max-width: 480px) {
  .thumbnail {
    width: 90px;
    height: 90px;
  }

  .textodata {
    display: none;
  }

  .textodataMobile {
    display: block;
  }
}

@media (min-width: 481px) {
  .textodataMobile {
    display: none;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .home_img {
    width: 1%;
  }
}

#animmobilenav body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #0055ff 0%, rgb(0, 153, 255) 100%);
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#animmobilenav nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}

#animmobilenav .background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  z-index: 1;
  background: rgb(255, 255, 255);
}

#animmobilenav {
  right: 0;
}

#animmobilenav button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 35px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#animmobilenav ul,
#animmobilenav li {
  margin: 0;
  padding: 0;
}

#animmobilenav ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

#animmobilenav li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#animmobilenav .icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

#animmobilenav .text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

#animmobilenav .refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
