.btn {
  width: fit-content;
  width: -moz-max-content;
}

.thumbnail {
  width: 130px;
  height: 130px;
}

@-moz-document url-prefix() {
  body {
    scroll-behavior: auto;
  }
}

@media (max-width: 480px) {
  .thumbnail {
    width: 90px;
    height: 90px;
  }

  .textodata {
    display: none;
  }

  .textodataMobile {
    display: block;
  }
}

@media (min-width: 481px) {
  .textodataMobile {
    display: none;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .home_img {
    width: 1%;
  }
}
